body{
    background-color: #463d36;
}

.container{
    width: 600px;
    background-color: white;
    padding: 40px;
    margin: 100px auto;
    border-radius: 20px;
    
}
.container h1 {
    color: #463d36;
    font-size: 40px;
    margin-top:0px;
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: uppercase;

  
}

.container h2 {
 color: #a6192e;
 margin-bottom: 0px;
 font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;

}

.container p{
    color:#463d36;
     font-family: sans-serif;
     font-size: 28px;
     margin-top: 28px;
     font-weight: lighter;
}

.container button{
    padding: 30px 40px;
    background-color: #463d36;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 30px 40px;
    
    

}